---
layout: layout.liquid
title: Random Name Generator
---

<div class="main">
    <div x-data="rando">
        <h1 x-text="name"></h1>
        <button @click="name = name">Generate a name</button>
    </div>
</div>

<script>
function rando() {
    const names = ['Olivia', 'Noah', 'Emma', 'Liam', 'Amelia', 'Oliver', 'Sophia', 'Elijah', 'Charlotte', 'Mateo', 'Jeff'];
    return {
    get name() {
    return names[Math.floor(Math.random() * names.length)];
    },
  }
}
</script>